<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realman.SchoolSystem.mapper.ClazzMapper">

    <!-- Reusable where clause -->
    <sql id="clazzFilter">
        <where>
            <if test="param.name != null and param.name != ''">
                AND c.name LIKE CONCAT('%', #{param.name}, '%')
            </if>
            <if test="param.begin != null">
                AND c.begin_date &gt;= #{param.begin, jdbcType=DATE}
            </if>
            <if test="param.end != null">
                AND c.end_date &lt;= #{param.end, jdbcType=DATE}
            </if>
        </where>
    </sql>

    <!-- Count query using the same filters -->
    <select id="count" resultType="java.lang.Long">
        SELECT count(*)
        FROM clazz c left join emp e on c.master_id = e.id
        <include refid="clazzFilter"/>
    </select>



    <!-- List query -->
    <select id="list" resultType="com.realman.SchoolSystem.pojo.Clazz">
        SELECT c.*, e.name AS master_name
        FROM clazz c left join emp e on c.master_id = e.id
        <include refid="clazzFilter"/>
        limit #{offset}, #{param.pageSize}
    </select>

    <select id="getClazzById" resultType="com.realman.SchoolSystem.pojo.Clazz">
        SELECT *
        FROM clazz
        WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO clazz (
        name,
        room,
        begin_date,
        end_date,
        subject,
        create_time,
        update_time
        <if test="masterId != null">
            , master_id
        </if>
        )
        VALUES (
        #{name},
        #{room},
        #{beginDate},
        #{endDate},
        #{subject},
        #{createTime},
        #{updateTime}
        <if test="masterId != null">
            , #{masterId}
        </if>
        )
    </insert>

    <update id="update">
        UPDATE clazz
        <set>
            name = #{name},
            room = #{room},
            begin_date = #{beginDate},
            end_date = #{endDate},
            master_id = #{masterId}

            <if test="subject != null">
                , subject = #{subject}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM clazz
        WHERE id = #{id}
    </delete>

    <select id="getAll" resultType="com.realman.SchoolSystem.pojo.Clazz">
        SELECT *
        FROM clazz
    </select>

</mapper>