<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realman.SchoolSystem.mapper.StudentMapper">
    <select id="countStudentByClazzId" resultType="java.lang.Long">
            SELECT count(1)
            FROM student
            WHERE clazz_id = #{clazzId}
    </select>



    <!-- Reusable where clause -->
    <sql id="studentFilter">
        <where>
            <if test="param.name != null and param.name != ''">
                AND s.name LIKE CONCAT('%', #{param.name}, '%')
            </if>
            <if test="param.degree != null and param.name != ''" >
                AND s.degree = #{param.degree}
            </if>
            <if test="param.clazzId != null">
                AND s.clazz_id = #{param.clazzId}
            </if>

        </where>
    </sql>

    <!-- Count query using the same filters -->
    <select id="count" resultType="java.lang.Long">
        SELECT count(*)
        FROM student s left join clazz c on s.clazz_id = c.id
        <include refid="studentFilter"/>
    </select>



    <!-- List query -->
    <select id="list" resultType="com.realman.SchoolSystem.pojo.Student">
        SELECT s.*, c.name as clazz_name
        FROM student s left join clazz c on s.clazz_id = c.id
        <include refid="studentFilter"/>
        limit #{offset}, #{param.pageSize}
    </select>

<!--    potential problem:-->
    <insert id="insert">
        INSERT INTO student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,
            no,
            gender,
            phone,
            id_card,
            is_college,
            clazz_id,
            <if test="address != null">address,</if>
            <if test="degree != null">degree,</if>
            <if test="graduationDate != null">graduation_date,</if>
            create_time,
            update_time
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{name},
            #{no},
            #{gender},
            #{phone},
            #{idCard},
            #{isCollege},
            #{clazzId},
            <if test="address != null">#{address},</if>
            <if test="degree != null">#{degree},</if>
            <if test="graduationDate != null">#{graduationDate},</if>
            #{createTime},
            #{updateTime}
        </trim>
    </insert>

    <select id="getById" resultType="com.realman.SchoolSystem.pojo.Student">
        SELECT * FROM student WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE student
        <set>
            name = #{name},           <!-- required -->
            no = #{no},               <!-- required -->
            phone = #{phone},         <!-- required -->
            gender = #{gender},       <!-- required -->
            id_card = #{idCard},      <!-- required -->
            is_college = #{isCollege},<!-- required -->
            clazz_id = #{clazzId},    <!-- required -->
            violation_count = #{violationCount},
            violation_score = #{violationScore},
            update_time = #{updateTime}
            <if test="address != null">, address = #{address}</if>
            <if test="degree != null">, degree = #{degree}</if>
            <if test="graduationDate != null">, graduation_date = #{graduationDate}</if>
        </set>
        WHERE id = #{id}  <!-- required -->
    </update>
</mapper>