name: Java Maven CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests=false

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar
